@font-face {
    font-family: "Cherry bomb";
    src: local("GilroyRegular"),
      url("../fonts/cherrybombone-regular.ttf") format("truetype");
    font-weight: normal;
  }
  
  
  .container {
    background-color: #FAF9F6;
    display: flex;
    height: 100vh; /* Set height to 100% of the viewport height */
  }
  
  .img_container {
    display: flex;
    height: 100vh; /* Make sure the container covers the entire viewport height */
  }
  
  .centered-image {
    width: 500px;
    height: 500px;
  }
  
  
  .left,
  .right {
    flex: 1; /* Each div takes up half of the container */
    height: 100%; /* Take full height of the container */
  }
  
  .left {
    background-color: #C7E4EA; /* Left half is blue */
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .right {
    background-color: #C7E4EA; /* Right half is white */
    display: flex;
  }
  
  .form-container {
    width: 300px; /* Set a specific width for the form container */
    width: 500px; /* Set a specific width for the form container */
  }
  
  .input-wrapper {
    margin-bottom: 35px;
  }
  
  .input-wrapper label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Grey color for the label */
  }
  
  .input-wrapper input[type="text"] {
    font-size: 24px; /* Adjust size as needed */
    max-width: 500px; /* Set max-width to 500px */
    width: 100%; /* Take full width of the container */
    padding: 10px; /* Add padding for spacing */
    background-color: #f0f0f0; /* Grey background for the input */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    
    display: block; /* Ensure it takes the full width */
}

  .input-wrapper output {
    display: block;
    font-size: 18px;
    margin-top: 5px;
  }
  
  .age-slider {
    width: 200px; /* Adjust width as needed */
    margin: 50px auto 20px auto; /* Updated margin for slight lowering */
  }
  
  .slider {
    display: flex;
  }
  
  .slider .decrease,
  .slider .increase {
    width: 60px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    background-color: #BF67A6; /* Pink color */
    color: #FAF9F6;
    
    font-size: 36px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slider .decrease:hover,
  .slider .increase:hover {
    background-color: #8d4378; /* Darker pink on hover */

  }
  
  .slider .age {
    flex: 1;
    text-align: center;
    font-size: 36px; /* Adjust font size */
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive; /* Fun font */
  }
  
  .avatar-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .avatar-options img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
  }
  
  .avatar-options img:hover {
    transform: scale(1.1);
    filter: brightness(90%);
  }
  
  .avatar-options img.selected {
    filter: brightness(65%); /* Darken the selected image */
    transition: filter 0.2s ease; /* Smooth transition effect */
  }

  .avatar-options img.selected:hover {
    transform: scale(1.1); /* Add scale effect on hover */
  }
  


  /* button {
    width: 30px;
    padding: 10px;
    background-color: #C7E4EA;
    color: white;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
  } */

  
  button:hover,
  .sign-in-button:hover {
    background-color: #BF67A6; /* Darker green */
  }
  
  .my-name {
    font-family: 'Cherry Bomb', cursive;
    font-size: 80px; /* Adjust size as needed */
    text-align: center; /* Center align the text */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-bottom: 50px; 
    /* Add any other styling properties you desire */
  }
  
  .input-wrapper {
    margin-bottom: 55px;
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center children horizontally */
  }
  
  .generate-profile-button {
    width: 200px;
    padding: 10px;
    background-color: #BF67A6;
    color: #FAF9F6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .generate-profile-button:hover {
    background-color: #853d71;
  }