@font-face {
    font-family: "Cherry bomb";
    src: local("GilroyRegular"),
      url("../fonts/cherrybombone-regular.ttf") format("truetype");
    font-weight: normal;
  }

.library-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Set height to viewport height for vertical centering */
}

.my-library {
    font-family: 'Cherry Bomb', cursive;
    font-size: 74px; /* Adjust size as needed */
    /* Add any other styling properties you desire */
}
.full-page{
    background-color: #C7E4EA;
    width: 100vw;
    height: 100vh    ;
}
.create-story {
    position: absolute;
    top: 50%; /* Adjust top position as needed */
    right: 10%; /* Position it to the right of the page */
    transform: translateY(-50%); /* Center vertically */
    background-color: white;
    /* Add any other styling properties you desire */
    height: 45vh;
    width: 15vw;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inside-create-story{
    font-family: 'CherryBomb', cursive;
    font-size: 20px;
    font-weight: bold;  
   

}

.book-images:hover {
    opacity: 1; 
    transform: scale(1.2); /* Enlarge the image on hover */
}

.book-images:not(:hover) {
    opacity: 1; 
}
.book-images:not(:first-child) {
    margin-left: -140px; 
}  

.image-containers {
    display: flex;
    width: 60vw;
    white-space: nowrap;
    height: 60vh;
    margin-top: 5vh;
    margin-left: 8vw;
}

.book-images {
    width: 250px;
    height: 400px;
    margin-right: 10px; /* Adjust margin between images */
    transition: opacity 0.3s ease; /* Add transition for smooth opacity change */
    filter: drop-shadow(40px 40px 40px rgba(0, 0, 0, 0.2));
    
}
