@font-face {
    font-family: "Cherry Bomb";
    src: local("GilroyRegular"),
      url("../fonts/cherrybombone-regular.ttf") format("truetype");
    font-weight: normal;
  }
  
  .library-container {
    display: flex;
  
  }
  
  .my-library {
    font-family: 'Cherry Bomb', cursive;
    font-size: 5.5vw; /* Adjust size as needed */
    padding-bottom:1px; /* Adjust size as needed */
    /* Add any other styling properties you desire */
    padding-left: 12vw;
  }
  
  .carousel-slide {
    margin-right: 0.5vw; /* Adjust the margin to increase/decrease the spacing between items */
  }
  
  .full-page {
    background-color: #C7E4EA;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .create-story {
    position: absolute;
    top: 60%;
    right: 10%;
    transform: translateY(-50%);
    background-color: white;
    height: 45vh;
    width: 15vw;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inside-create-story {
    font-family: 'Cherry Bomb', cursive;
    font-size: 2vw;
    font-weight: bold;
    align-items: center;
    padding-left: 30px;
    
  }
  
  .book-images {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Added transition for smooth hover effect */
  }
  
  .book-images:hover {
    opacity: 1.1;
    transform: scale(1.2); /* Adjusted scale on hover */
  }
  
  .carousel-container {
    margin: 0 auto;
  }
  
  .carousel-content {
    overflow: hidden;
  }
  
  .image-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15vw;
    width: 60%; /* Adjusted width to accommodate larger images */
  }

  .profile-pic{
    padding-top: 5vh;
    padding-left: 30vw;
    height: 150px;

  }