@font-face {
  font-family: "Cherry Bomb";
  src: local("GilroyRegular"),
    url("../components/fonts/cherrybombone-regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Andika-Bold";
  src: url("./fonts/Andika/Andika-Bold.ttf") format("truetype");
  font-weight: normal;
}


.my-library {
  font-family: 'Cherry Bomb', cursive;
  align-items: center;
  font-size: 5.5vw; /* Adjust size as needed */
  padding-bottom: 80px; /* Adjust size as needed */
  margin-right: 300px; /* Adjust size as needed */
  /* Add any other styling properties you desire */
  height: 10vh;
  z-index: 2; 
}

.full-page {
  background-color: #fff;
  padding-top: 5vh;
  position: relative;

  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Change justify-content to flex-start */

}

.full-body{
  padding-top: 8vh;
  padding-bottom: 8vh;


}
.row {
  display: flex;
  width: 100vw;
  justify-content:flex-start ;
  background-color: #EAF5F8;
  margin-right: 20px; 
}
.type-book {
  font-family: "Cherry Bomb";
  margin-top: 90px;
  font-size: 50px;
  text-align: center; /* Center text */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.type-another-book {
  font-family:"Andika-Bold"; 
  font-size: 50px;
  text-align: left; /* Center text */
  margin-bottom: 20px; /* Adjust margin as needed */
  margin-top: 55px;
  margin-left: 55px;
  margin-right: 20px; 
}


.row img {
  width: 30vw; /* Adjust image width as needed */
  height: 23vh; /* Adjust image height as needed */
  object-fit: cover; /* Maintain aspect ratio */
  margin-right: 25px; /* Add space between each book image */
}


.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

.horizontal-scroll img {
  flex: 0 0 auto;
  width: 200px; /* Adjust the width of the book images */
}

.full-body {
  width: 90%; /* Set width to 100% or any other value greater than the viewport width */
  overflow-x: auto; /* Enable horizontal scrolling */
}


.scroll-wrapper {
  overflow-x: auto;
}
.horizontal-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scroll .row {
  display: inline-block;
}

.white-container {
  background-color: #EAF5F8;
  border-radius: 40px;
  padding: 35px;
}
.blue-container {
  background-color: #C7E4EA;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0; 
  height: 23vh; /* Adjust height as needed */
}

