@font-face {
  font-family: "Cherry bomb";
  src: local("GilroyRegular"),
    url("../fonts/cherrybombone-regular.ttf") format("truetype");
  font-weight: normal;
}


.container {
  display: flex;
  height: 100vh; /* Set height to 100% of the viewport height */
}

.img_container {
  display: flex;
}



.left {
  flex: 1; /* Each div takes up half of the container */
  height: 100%; /* Take full height of the container */
  width: 1000px;
}

.left {
  background-color: #e7f0fe; /* Left half is blue */

  display: flex;
}




.form-container {
  width: 300px; /* Set a specific width for the form container */
  width: 500px; /* Set a specific width for the form container */
}

.input-wrapper {
  margin-bottom: 35px;
  text-align: left;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
  color: #555; /* Grey color for the label */
  text-align: left; /* Align label text to the left */
}


.input-wrapper input[type="email"],
.input-wrapper input[type="password"] {
  font-size: 24px; /* Adjust size as needed */
  max-width: 500px; /* Set max-width to 500px */
  width: 100%; /* Take full width of the container */
  padding: 10px; /* Add padding for spacing */
  background-color: #f0f0f0; /* Grey background for the input */
  border: none; /* Remove border */
  border-radius: 10px; /* Rounded corners */
  display: block; /* Ensure it takes the full width */
  text-align: left;
}




.left-aligned-label {
  text-align: left;
  font-size: 28px; /* You can also move the font-size to CSS */
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  background-color: #BF67A6; /* Green */
  color: white;
  border: none;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
}

button:hover,
.sign-in-button:hover {
  background-color: #BF67A6; /* Darker green */
}

.my-login {
  font-family: 'Cherry Bomb', cursive;
  font-size: 110px; /* Adjust size as needed */
  display: flex; /* Use flexbox */

  padding-bottom: 50px; 
  /* Add any other styling properties you desire */
}

.forget-password {
  margin-top: 10px;
  text-align: center;
}

.forget-password p {
  margin-top: 20px;
  color: #555;
  font-size: 24px;
  text-decoration: underline; /* Add underline to the text */
  cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}


.no-account {
  margin-top: 40px;
  text-align: center;
}

.no-account p {
  color: #555;
  font-size: 24px; /* Adjust size as needed */
  cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}


.create-account {
  text-align: center;
}

.create-account p {
  color: #FFAE42;
  font-size: 24px;
  cursor: pointer; /* Add pointer cursor to indicate it's clickable */
}

.sign-in-button {
  width: 100%;
  padding: 10px;
  background-color: #BF67A6; /* Green */
  color: white;
  border: none;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
  font-family: 'Cherry Bomb', cursive; /* Set font family */
  font-size: 24px; /* Set font size */
}